ZUCCHETTI_IT_002_Confirm_Data_copy/src/main/resources/xsd/Zucchetti_Schema_SingleEmployee.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BODY">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" minOccurs="0" name="ANSURNAM"/>
        <xs:element type="xs:string" minOccurs="0" name="ANNAME"/>
        <xs:element type="xs:string" name="DTBIRTH" minOccurs="0"/>
        <xs:element type="xs:string" name="IDCITYBT" minOccurs="0"/>
        <xs:element type="xs:string" name="IDSTATEBT" minOccurs="0"/>
        <xs:element type="xs:string" name="IDIDENTIFP" minOccurs="0"/>
        <xs:element type="xs:string" name="TPSEX" minOccurs="0"/>
        <xs:element type="xs:string" name="IDMARITAL" minOccurs="0"/>
        <xs:element type="xs:string" name="IDSTATECTY" minOccurs="0"/>
        <xs:element type="xs:string" name="ANADDRESRS" minOccurs="0"/>
        <xs:element type="xs:string" name="ANCIVICNRS" minOccurs="0"/>
        <xs:element type="xs:string" name="ANZIPCODRS" minOccurs="0"/>
        <xs:element type="xs:string" name="IDCITYRS" minOccurs="0"/>
        <xs:element type="xs:string" name="ANEMAIL" minOccurs="0"/>
        <xs:element type="xs:string" name="IDSTUDY" minOccurs="0"/>
        <xs:element type="xs:string" name="DTASSUMPT" minOccurs="0"/>
        <xs:element type="xs:string" name="DTLAYOFF" minOccurs="0"/>
        <xs:element type="xs:string" name="DTEXPDT" minOccurs="0"/>
        <xs:element type="xs:string" name="DTEXPTRIES" minOccurs="0"/>
        <xs:element type="xs:string" name="IDLVAGRMNT" minOccurs="0"/>
        <xs:element type="xs:string" name="IDNATREL" minOccurs="0"/>
        <xs:element type="xs:string" name="IDQUAGRMNT" minOccurs="0"/>
        <xs:element type="xs:string" name="TPPARTTIME" minOccurs="0"/>
        <xs:element type="xs:string" name="PEPARTTIME" minOccurs="0"/>
        <xs:element type="xs:string" name="IDDEPENDEN" minOccurs="0"/>
        <xs:element type="xs:string" name="IDCOSTCNT" minOccurs="0"/>
        <xs:element type="xs:string" name="H1NPOSZ1" minOccurs="0"/>
        <xs:element type="xs:string" name="IDLEGALNAT" minOccurs="0"/>
        <xs:element type="xs:string" name="TPIDENTIFP" minOccurs="0"/>
        <xs:element type="xs:string" name="IDPAY" minOccurs="0"/>
        <xs:element type="xs:string" name="FLMAIN" minOccurs="0"/>
        <xs:element type="xs:string" name="IDIBANCNTY" minOccurs="0"/>
        <xs:element type="xs:string" name="IDCURRENCY2" minOccurs="0"/>
        <xs:element type="xs:string" name="IDIBANDIGT" minOccurs="0"/>
        <xs:element type="xs:string" name="ANBCODE" minOccurs="0"/>
        <xs:element type="xs:string" name="IDABI" minOccurs="0"/>
        <xs:element type="xs:string" name="IDCAB" minOccurs="0"/>
        <xs:element type="xs:string" name="ANCHKACCEM" minOccurs="0"/>
        <xs:element type="xs:string" name="TPRELATION3" minOccurs="0"/>
        <xs:element type="xs:string" name="TPCONTRA" minOccurs="0"/>
        <xs:element type="xs:string" name="H1CQUALPREVL" minOccurs="0"/>
        <xs:element type="xs:string" name="IDPART2" minOccurs="0"/>
        <xs:element type="xs:string" name="IDTPSUBJ" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>