ZUCCHETTI_IT_004_Position_copy/src/main/resources/xsd/position_mapping.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name = "Root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name = "hrtg_tactivity" maxOccurs = "unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element type = "xs:string" name = "IDCOMPANY"/>
							<xs:element type = "xs:string" name = "IDACTIVITY"/>
							<xs:element type = "xs:string" name = "DTSTARTVL"/>
							<xs:element type = "xs:string" name = "DTENDVL"/>
							<xs:element type = "xs:string" name = "DSACTIVITY"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>