ZUCCHETTI_IT_001_EmployeeMD_copy/src/main/resources/xsd/Zucchetti_Schema_SingleEmployee_new.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BODY">
    <xs:complexType>
      <xs:sequence>
	  
	    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="AZIENDA"/>
		<xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="DIPENDENTE"/>
		<xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="DATA_VALIDITA"/>
        <xs:element type="xs:string" name="FLACTIVE" minOccurs="0"/>		
		<xs:element type="xs:string" name="FLCHECKOBB" minOccurs="0"/>
		<xs:element type="xs:string" name="FLRELATION" minOccurs="0"/>
		<xs:element type="xs:string" name="ANPROVINRS" minOccurs="0"/>
		<xs:element type="xs:string" name="IDINTERNAL" minOccurs="0"/>
		<xs:element type="xs:string" name="IDCODAL00S" minOccurs="0"/>
		<xs:element type="xs:string" name="IDCAUSEASS" minOccurs="0"/>
		<xs:element type="xs:string" name="IDEMPSOMM" minOccurs="0"/>
		<xs:element type="xs:string" name="IDBUSINESS" minOccurs="0"/>
		<xs:element type="xs:string" name="IDLOCALUT" minOccurs="0"/>
		<xs:element type="xs:string" name="IDINTORD11" minOccurs="0"/>
		<xs:element type="xs:string" name="FLDEFERRED" minOccurs="0"/>
		<xs:element type="xs:string" name="IDLANGUAGE" minOccurs="0"/>
		<xs:element type="xs:string" name="IDAGRMNT" minOccurs="0"/>
		<xs:element type="xs:string" name="IDBRANCH" minOccurs="0"/>
		<xs:element type="xs:string" name="IDACTIVITY11" minOccurs="0"/>
		<xs:element type="xs:string" name="IDTBLHH" minOccurs="0"/>
		<xs:element type="xs:string" name="TPSUBJTFR" minOccurs="0"/>
		<xs:element type="xs:string" name="IDRULETFR" minOccurs="0"/>
		<xs:element type="xs:string" name="TPPAY" minOccurs="0"/>
		<xs:element type="xs:string" name="TPADDRESS" minOccurs="0"/>
		<xs:element type="xs:string" name="IDUSERNAME" minOccurs="0"/>
		<xs:element type="xs:string" name="ANPROVIN" minOccurs="0"/>
		<xs:element type="xs:string" name="ANMOBILTEL" minOccurs="0"/>
		<xs:element type="xs:string" name="IDPART3" minOccurs="0"/>
		<xs:element type="xs:string" name="IDPART5" minOccurs="0"/>
		<xs:element type="xs:string" name="DTSUBSMAW11" minOccurs="0"/>
		<xs:element type="xs:string" name="DTSTARTSW11" minOccurs="0"/>
		<xs:element type="xs:string" name="DTENDSW11" minOccurs="0"/>
		<xs:element type="xs:string" name="SI002" minOccurs="0"/>
		<xs:element type="xs:string" name="IDPART6" minOccurs="0"/>
		<xs:element type="xs:string" name="IDCATPROT" minOccurs="0"/>
		<xs:element type="xs:string" name="PEDISABLED11" minOccurs="0"/>
		<xs:element type="xs:string" name="IDCOMPSOM11" minOccurs="0"/>
		<xs:element type="xs:string" name="ANADDRESRS" minOccurs="0"/>
		<xs:element type="xs:string" name="ANADDRES" minOccurs="0"/>
		<xs:element type="xs:string" name="ANZIPCODRS" minOccurs="0"/>
		<xs:element type="xs:string" name="IDSTATE" minOccurs="0"/>
		<xs:element type="xs:string" name="IDCITY" minOccurs="0"/>
        <xs:element type="xs:string" minOccurs="0" name="ANSURNAM"/>
        <xs:element type="xs:string" minOccurs="0" name="ANNAME"/>
        <xs:element type="xs:string" name="DTBIRTH" minOccurs="0"/>
        <xs:element type="xs:string" name="IDCITYBT" minOccurs="0"/>
        <xs:element type="xs:string" name="IDSTATEBT" minOccurs="0"/>
        <xs:element type="xs:string" name="IDSTATERS" minOccurs="0"/>
        <xs:element type="xs:string" name="IDIDENTIFP" minOccurs="0"/>
        <xs:element type="xs:string" name="TPSEX" minOccurs="0"/>
        <xs:element type="xs:string" name="IDMARITAL" minOccurs="0"/>
        <xs:element type="xs:string" name="IDSTATECTY" minOccurs="0"/>
        <xs:element type="xs:string" name="ANCIVICNRS" minOccurs="0"/>
        <xs:element type="xs:string" name="ANZIPCOD" minOccurs="0"/>
        <xs:element type="xs:string" name="IDCITYRS" minOccurs="0"/>
        <xs:element type="xs:string" name="ANEMAIL" minOccurs="0"/>
        <xs:element type="xs:string" name="ANEMAILRS" minOccurs="0"/>
        <xs:element type="xs:string" name="IDSTUDY" minOccurs="0"/> 
        <xs:element type="xs:string" name="DTASSUMPT" minOccurs="0"/>
        <xs:element type="xs:string" name="DTLAYOFF" minOccurs="0"/>
        <xs:element type="xs:string" name="DTEXPDT" minOccurs="0"/>
        <xs:element type="xs:string" name="IDLVAGRMNT" minOccurs="0"/>
        <xs:element type="xs:string" name="IDNATREL" minOccurs="0"/>
        <xs:element type="xs:string" name="IDQUAGRMNT" minOccurs="0"/>
        <xs:element type="xs:string" name="TPPARTTIME" minOccurs="0"/>
        <xs:element type="xs:string" name="PEPARTTIME" minOccurs="0"/>
        <xs:element type="xs:string" name="IDDEPENDEN" minOccurs="0"/>
        <xs:element type="xs:string" name="IDCOSTCNT" minOccurs="0"/>
        <xs:element type="xs:string" name="IDLEGALNAT" minOccurs="0"/>
        <xs:element type="xs:string" name="IDCURRENCY" minOccurs="0"/>
        <xs:element type="xs:string" name="TPRELATION" minOccurs="0"/>
        <xs:element type="xs:string" name="TPCONTRA" minOccurs="0"/>
        <xs:element type="xs:string" name="IDTPSUBJ" minOccurs="0"/>
        <xs:element type="xs:string" name="IDGRPEM" minOccurs="0"/>
		<xs:element type="xs:string" name="VAELEPAY60" minOccurs="0"/>
		<xs:element type="xs:string" name="IDRLMONDT16" minOccurs="0"/>
		<xs:element type="xs:string" name="FLDICFRING20" minOccurs="0"/>
       </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>