ZUCCHETTI_IT_001_EmployeeMD_copy/src/main/resources/xsd/Zucchetti_Schema_SingleEmployee_new termin.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BODY">
    <xs:complexType>
      <xs:sequence>
	  
        <xs:element type="xs:string" name="DTENDSB" minOccurs="0"/>		
		<xs:element type="xs:string" name="DTLAYOFF" minOccurs="0"/>
		<xs:element type="xs:string" name="IDGRPEM" minOccurs="0"/>

       </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>