Get_EDocument_SAP_To_SAP/src/main/resources/wsdl/ExistPurchaseInvoiceRR.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.todaytrain.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ExistPurchaseInvoiceService" targetNamespace="http://www.todaytrain.it/">
  <!-- Tipi di dati definiti nello schema -->
  <types>
    <xsd:schema targetNamespace="http://www.todaytrain.it/">
      <xsd:element name="ExistPurchaseInvoice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="supplierCode" type="xsd:string"/>
            <xsd:element name="issueDate" type="xsd:dateTime"/>
            <xsd:element name="number" type="xsd:string"/>
            <xsd:element name="SDIPurchaseInvoiceId" type="xsd:string"/>
            <xsd:element name="SDIReceivingDate" type="xsd:dateTime"/>
            <xsd:element name="expireDate" type="xsd:dateTime"/>
            <xsd:element name="systemAccountingSDIPurchaseId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ExistPurchaseInvoiceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ExistPurchaseInvoiceResult" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>

  <!-- Messaggi -->
  <message name="ExistPurchaseInvoiceRequest">
    <part element="tns:ExistPurchaseInvoice" name="parameters"/>
  </message>
  <message name="ExistPurchaseInvoiceResponse">
    <part element="tns:ExistPurchaseInvoiceResponse" name="parameters"/>
  </message>

  <!-- PortType -->
  <portType name="ExistPurchaseInvoicePortType">
    <operation name="ExistPurchaseInvoice">
      <input message="tns:ExistPurchaseInvoiceRequest"/>
      <output message="tns:ExistPurchaseInvoiceResponse"/>
    </operation>
  </portType>

  <!-- Binding -->
  <binding name="ExistPurchaseInvoiceBinding" type="tns:ExistPurchaseInvoicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ExistPurchaseInvoice">
      <soap:operation soapAction="http://www.todaytrain.it/ExistPurchaseInvoice"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <!-- Servizio -->
  <service name="ExistPurchaseInvoiceService">
    <port binding="tns:ExistPurchaseInvoiceBinding" name="ExistPurchaseInvoicePort">
      <soap:address location="https://integration-service-development-1913kwvh.it-cpi023-rt.cfapps.eu20-001.hana.ondemand.com/http/TTExistPurchaseInvoice"/>
    </port>
  </service>
</definitions>