Get_EDocument_SAP_To_SAP/src/main/resources/wsdl/WSDL Extract Edocument SAP to SAP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://example.org/ElectronicDocService"
    targetNamespace="http://example.org/ElectronicDocService"
    name="ElectronicDocService">

  <wsdl:types>
    <xsd:schema targetNamespace="http://example.org/ElectronicDocService"
                elementFormDefault="qualified">

      <xsd:element name="GetElectronicDocRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ElectronicDocUUID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GetElectronicDocResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ElectronicDocFileUUID" type="xsd:string"/>
            <xsd:element name="ElectronicDocFileName" type="xsd:string"/>
            <xsd:element name="ElectronicDocFileCreationDate" type="xsd:date"/>
            <xsd:element name="ElectronicDocFileCreationTime" type="xsd:time"/>
            <xsd:element name="ElectronicDocFileType" type="xsd:string"/>
            <xsd:element name="ElectronicDocCountry" type="xsd:string"/>
            <xsd:element name="ElectronicDocProcess" type="xsd:string"/>
            <xsd:element name="ElectronicDocType" type="xsd:string"/>
            <xsd:element name="ElectronicDocSourceKey" type="xsd:string"/>
            <xsd:element name="ElectronicDocFileContent" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="GetElectronicDocRequest">
    <wsdl:part name="parameters" element="tns:GetElectronicDocRequest"/>
  </wsdl:message>

  <wsdl:message name="GetElectronicDocResponse">
    <wsdl:part name="parameters" element="tns:GetElectronicDocResponse"/>
  </wsdl:message>

  <wsdl:portType name="ElectronicDocPortType">
    <wsdl:operation name="GetElectronicDoc">
      <wsdl:input message="tns:GetElectronicDocRequest"/>
      <wsdl:output message="tns:GetElectronicDocResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="ElectronicDocBinding" type="tns:ElectronicDocPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetElectronicDoc">
      <soap:operation soapAction="http://example.org/ElectronicDocService/GetElectronicDoc"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="ElectronicDocService">
    <wsdl:port name="ElectronicDocPort" binding="tns:ElectronicDocBinding">
      <soap:address location="http://example.org/ElectronicDocService"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
