IF_011_Carichi_SAP_to_Stockager/src/main/resources/xsd/ZIDOC_STOCKAGER_XSD.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">
 <xsd:element name="ZIDOC_STOCKAGER">
  <xsd:annotation>
   <xsd:documentation>Gestione magazzino Power One</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="IDOC">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="EDI_DC40">
        <xsd:annotation>
         <xsd:documentation>Record di ctr. IDoc per interfaccia con il sist. esterno</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="TABNAM" type="xsd:string" fixed="EDI_DC40">
           <xsd:annotation>
            <xsd:documentation>Nome della struttura tabella</xsd:documentation>
           </xsd:annotation>
          </xsd:element>
          <xsd:element name="MANDT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Mandante</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DOCNUM" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Numero dell&apos;IDoc</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="16"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DOCREL" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Release SAP dell&apos;IDoc</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STATUS" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Stato dell&apos;IDOC</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DIRECT">
           <xsd:annotation>
            <xsd:documentation>Direzione</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:enumeration value="1">
              <xsd:annotation>
               <xsd:documentation>Uscita</xsd:documentation>
              </xsd:annotation>
             </xsd:enumeration>
             <xsd:enumeration value="2">
              <xsd:annotation>
               <xsd:documentation>Entrata</xsd:documentation>
              </xsd:annotation>
             </xsd:enumeration>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="OUTMOD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Modo di output</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="EXPRSS" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Sostituzione in entrata</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="TEST" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Indicatore test</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="IDOCTYP" type="xsd:string" fixed="ZIDOC_STOCKAGER">
           <xsd:annotation>
            <xsd:documentation>Nome del tipo base</xsd:documentation>
           </xsd:annotation>
          </xsd:element>
          <xsd:element name="CIMTYP" minOccurs="0" type="xsd:string" fixed="">
           <xsd:annotation>
            <xsd:documentation>Ampliamento (definito da cliente)</xsd:documentation>
           </xsd:annotation>
          </xsd:element>
          <xsd:element name="MESTYP" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Categoria messaggio</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MESCOD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Variante messaggio</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MESFCT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Funzione messaggio</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Standard EDI, codici</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STDVRS" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Standard EDI, versione e release</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STDMES" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Tipo di messaggio EDI</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPOR">
           <xsd:annotation>
            <xsd:documentation>Porta mittente (sistema SAP, sottosistema esterno)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPRT">
           <xsd:annotation>
            <xsd:documentation>Tipo partner del mittente</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPFC" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Ruolo partner del mittente</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPRN">
           <xsd:annotation>
            <xsd:documentation>Numero partner del mittente</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDSAD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Indirizzo del mittente (SADR)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="21"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDLAD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Indirizzo logico del mittente</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="70"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPOR">
           <xsd:annotation>
            <xsd:documentation>Porta del destinatario</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPRT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Tipo partner del destinatario</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPFC" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Ruolo partner del destinatario</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPRN">
           <xsd:annotation>
            <xsd:documentation>Numero partner del destinatario</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVSAD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Indirizzo del destinatario (SADR)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="21"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVLAD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Indirizzo logico del destinatario</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="70"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CREDAT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Data di creazione</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="8"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CRETIM" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Ora di creazione</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="REFINT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>File di trasmissione (EDI Interchange)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="REFGRP" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Gruppo messaggi (EDI Message Group)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="REFMES" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Messaggio (EDI Message)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ARCKEY" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Chiave dell&apos;archivio messaggi esterno</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="70"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SERIAL" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Serializzazione</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="20"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element name="ZIMP_CARICOH" minOccurs="0">
        <xsd:annotation>
         <xsd:documentation>Imp carico ordinario</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="TP_RECORD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Componente del numero versione</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="TP_AZIONE" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Indicatore a una posizione</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID_SITO" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Area non def. in dett., utilizz. event. per livello Patch</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID_PROPRIETA" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Componente del numero versione</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID_ORDINE" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Char 20</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="20"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID_FLUSSO" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Campo carattere (6 posizioni)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DT_ORDINE" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Campo carattere (8 posizioni)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="8"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DT_PREV_CONSEGNA" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Campo carattere (8 posizioni)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="8"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID_RICEVIMENTO" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Campo carattere (10 posizioni)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DT_DOCUMENTO" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Campo carattere (8 posizioni)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="8"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID_DOCUMENTO" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Char 15</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="15"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID_RIFERIMENTO_HOST" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>30 caratteri</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID_FORNITORE" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Char 20</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="20"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_RAG_SOC_ESTESA_FORN" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Campo carattere (40 posizioni)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="40"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_RAG_SOC_RIDOTTA_FORN" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Char 15</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="15"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_LOCALITA_FORN" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Commento</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="50"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_INDIRIZZO_FORN" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Commento</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="50"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_ZIPCODE_FORN" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Campo carattere (10 posizioni)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_PROVINCIA_FORN" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Campo carattere (10 posizioni)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_NAZIONE_FORN" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Campo carattere (40 posizioni)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="40"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_TELEFONO_FORN" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Char 15</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="15"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_FAX_FORN" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Char 15</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="15"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_EMAIL_FORN" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Campo carattere (40 posizioni)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="40"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_PARTITA_IVA_FORN" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Lunghezza caratteri 11</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="11"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_COD_FISCALE_FORN" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Campo di lunghezza 16</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="16"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID_CLIENTE" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Char 20</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="20"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID_VETTORE" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Char 20</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="20"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_RAG_SOC_ESTESA_VETT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Campo carattere (40 posizioni)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="40"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_RAG_SOC_RIDOTTA_VETT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Char 15</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="15"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_LOCALITA_VETT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Commento</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="50"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_INDIRIZZO_VETT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Commento</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="50"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_ZIPCODE_VETT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Campo carattere (10 posizioni)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_PROVINCIA_VETT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Campo carattere (10 posizioni)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_NAZIONE_VETT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Campo carattere (40 posizioni)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="40"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_TELEFONO_VETT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Char 15</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="15"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_FAX_VETT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Char 15</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="15"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_EMAIL_VETT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Campo carattere (40 posizioni)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="40"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_PARTITA_IVA_VETT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Lunghezza caratteri 11</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="11"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_COD_FISCALE_VETT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Campo di lunghezza 16</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="16"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_COD_REG_ALBO" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Campo carattere (10 posizioni)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID_RIFERIMENTO_HOST_2" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>30 caratteri</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID_RIFERIMENTO_HOST_3" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>30 caratteri</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_COMMESSA" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Char 20</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="20"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ZIMP_CARICOL" minOccurs="0" maxOccurs="999">
           <xsd:annotation>
            <xsd:documentation>Imp Carico righe</xsd:documentation>
           </xsd:annotation>
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="TP_RECORD" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Componente del numero versione</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="TP_AZIONE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Indicatore a una posizione</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_SITO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Area non def. in dett., utilizz. event. per livello Patch</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_PROPRIETA" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Componente del numero versione</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_ORDINE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Char 20</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="DT_ORDINE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Campo carattere (8 posizioni)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="DT_PREV_CONSEGNA" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Campo carattere (8 posizioni)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_RICEVIMENTO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Campo carattere (10 posizioni)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="DT_DOCUMENTO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Campo carattere (8 posizioni)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_DOCUMENTO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Char 15</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_SKU" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Campo utente per il cluster PC nazionale</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="25"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_TIPO_MAGAZZINO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Campo (3 bytes)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_CAUSALE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Campo carattere (6 posizioni)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_CLASSIFICA" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Area non def. in dett., utilizz. event. per livello Patch</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_SCHEMA" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Tabella R/2</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="5"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_ORD_RIGA" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Area non def. in dett., utilizz. event. per livello Patch</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="QT_ORDINE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Lunghezza caratteri 11</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="11"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="DS_LOTTO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Char 20</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="DT_SCADENZA" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Campo carattere (8 posizioni)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_RIFERIMENTO_HOST" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>30 caratteri</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_RIFERIMENTO_HOST_2" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>30 caratteri</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_RIFERIMENTO_HOST_3" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>30 caratteri</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="DS_COMMESSA" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Char 20</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="DT_PRODUZIONE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Campo carattere (8 posizioni)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ZIMP_CARICOL_SN" minOccurs="0" maxOccurs="9999">
              <xsd:annotation>
               <xsd:documentation>Imp Carico righe SN</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
               <xsd:sequence>
                <xsd:element name="ID_IMPORT" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Campo carattere (10 posizioni)</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="10"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ST_IMPORTAZIONE" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Indicatore a una posizione</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="1"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="DT_INSERIMENTO" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Campo carattere (8 posizioni)</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="8"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="DT_ELABORAZIONE" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Campo carattere (8 posizioni)</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="8"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="TP_RECORD" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Componente del numero versione</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="2"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="TP_AZIONE" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Indicatore a una posizione</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="1"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ID_SITO" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Area non def. in dett., utilizz. event. per livello Patch</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="4"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ID_PROPRIETA" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Componente del numero versione</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="2"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ID_ORDINE" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Char 20</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="20"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ID_ORD_RIGA" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Area non def. in dett., utilizz. event. per livello Patch</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="4"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="DS_SN" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Char 20</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="20"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="SEGMENT" use="required">
                <xsd:simpleType>
                 <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="1"/>
                 </xsd:restriction>
                </xsd:simpleType>
               </xsd:attribute>
              </xsd:complexType>
             </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="SEGMENT" use="required">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
               <xsd:enumeration value="1"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
           </xsd:complexType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element name="ZEXP_STOKH" minOccurs="0" maxOccurs="999">
        <xsd:annotation>
         <xsd:documentation>Exp stoccaggio</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="TP_RECORD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Componente del numero versione</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID_SITO" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Area non def. in dett., utilizz. event. per livello Patch</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID_PROPRIETA" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Componente del numero versione</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID_ORDINE" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Char 20</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="20"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID_FORNITORE" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Char 20</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="20"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID_CLIENTE" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Char 20</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="20"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID_VETTORE" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Char 20</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="20"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID_RIFERIMENTO_HOST" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>30 caratteri</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID_RIFERIMENTO_HOST_2" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>30 caratteri</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID_RIFERIMENTO_HOST_3" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>30 caratteri</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DS_FORNITORE" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Campo carattere (40 posizioni)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="40"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DT_ORDINE" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Campo carattere (8 posizioni)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="8"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID_FLUSSO" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Campo carattere (6 posizioni)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ZEXP_STOKL" minOccurs="0" maxOccurs="999">
           <xsd:annotation>
            <xsd:documentation>Exp stoccaggio righe</xsd:documentation>
           </xsd:annotation>
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="TP_RECORD" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Componente del numero versione</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_SITO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Area non def. in dett., utilizz. event. per livello Patch</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_PROPRIETA" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Componente del numero versione</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_ORDINE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Char 20</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_RICEVIMENTO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Campo carattere (10 posizioni)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_DOCUMENTO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Char 15</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="DT_DOCUMENTO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Campo carattere (8 posizioni)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_SKU" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Campo utente per il cluster PC nazionale</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="25"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_TIPO_MAGAZZINO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Campo (3 bytes)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_ORD_RIGA" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Area non def. in dett., utilizz. event. per livello Patch</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="QT_MOVIMENTO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Campo carattere (10 posizioni)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="DS_LOTTO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Char 20</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_SCHEMA" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Tabella R/2</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="5"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_MINIMO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Tabella R/2</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="5"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_CLASSIFICA" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Area non def. in dett., utilizz. event. per livello Patch</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="FL_SALDO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Indicatore a una posizione</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_RIFERIMENTO_HOST" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>30 caratteri</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_RIFERIMENTO_HOST_2" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>30 caratteri</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_RIFERIMENTO_HOST_3" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>30 caratteri</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="QT_ORDINE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Campo carattere (10 posizioni)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_UDC" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Char 20</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ID_CAUSALE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Campo carattere (6 posizioni)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="DS_COMMESSA" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Char 20</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ZEXP_STOKL_SN" minOccurs="0" maxOccurs="9999">
              <xsd:annotation>
               <xsd:documentation>Exp stoccaggio righe SN</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
               <xsd:sequence>
                <xsd:element name="ID_EXPORT" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Campo carattere (10 posizioni)</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="10"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ST_ESTRAZIONE" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Indicatore a una posizione</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="1"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="DT_INSERIMENTO" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Campo carattere (8 posizioni)</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="8"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="DT_ELABORAZIONE" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Campo carattere (8 posizioni)</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="8"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="TP_RECORD" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Componente del numero versione</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="2"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ID_SITO" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Area non def. in dett., utilizz. event. per livello Patch</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="4"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ID_PROPRIETA" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Componente del numero versione</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="2"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ID_ORDINE" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Char 20</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="20"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ID_SKU" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Campo utente per il cluster PC nazionale</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="25"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ID_ORD_RIGA" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Area non def. in dett., utilizz. event. per livello Patch</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="4"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="DS_SN" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Char 20</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="20"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="SEGMENT" use="required">
                <xsd:simpleType>
                 <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="1"/>
                 </xsd:restriction>
                </xsd:simpleType>
               </xsd:attribute>
              </xsd:complexType>
             </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="SEGMENT" use="required">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
               <xsd:enumeration value="1"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
           </xsd:complexType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="BEGIN" use="required">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:enumeration value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>
